body {
--vamtam-body-link-regular:#5F6567;
--vamtam-body-link-visited:#5F6567;
--vamtam-body-link-hover:#000000;
--vamtam-body-link-active:#000000;
--vamtam-body-background-color:#E9E9E7;
--vamtam-input-border-radius:0px 0px 0px 0px;
--vamtam-input-border-color:#00000026;
--vamtam-btn-text-color:#000000;
--vamtam-btn-hover-text-color:#FFFFFF;
--vamtam-btn-bg-color:#02010100;
--vamtam-btn-hover-bg-color:#000000;
--vamtam-site-max-width:2000px;
--vamtam-primary-font-color:#000000;
--vamtam-h1-color:#000000;
--vamtam-h2-color:#000000;
--vamtam-h3-color:#000000;
--vamtam-h4-color:#000000;
--vamtam-h5-color:#000000;
--vamtam-h6-color:#000000;
--vamtam-accent-color-1:#242627;
--vamtam-accent-color-1-hc:#FFFFFF;
--vamtam-accent-color-1-rgb:36,38,39;
--vamtam-accent-color-2:#E9E9E7;
--vamtam-accent-color-2-hc:#000000;
--vamtam-accent-color-2-rgb:233,233,231;
--vamtam-accent-color-3:#5F6567;
--vamtam-accent-color-3-hc:#FFFFFF;
--vamtam-accent-color-3-rgb:95,101,103;
--vamtam-accent-color-4:#D9AFD0;
--vamtam-accent-color-4-hc:#000000;
--vamtam-accent-color-4-rgb:217,175,208;
--vamtam-accent-color-5:#FFFFFF;
--vamtam-accent-color-5-hc:#000000;
--vamtam-accent-color-5-rgb:255,255,255;
--vamtam-accent-color-6:#000000;
--vamtam-accent-color-6-hc:#FFFFFF;
--vamtam-accent-color-6-rgb:0,0,0;
--vamtam-accent-color-7:#00000026;
--vamtam-accent-color-7-hc:#FFFFFF;
--vamtam-accent-color-7-rgb:0,0,0;
--vamtam-accent-color-8:#FFFFFF33;
--vamtam-accent-color-8-hc:#000000;
--vamtam-accent-color-8-rgb:255,255,255;
--vamtam-sticky-header-bg-color:#0000008F;
--vamtam-primary-font-font-family:'Plus Jakarta Sans';
--vamtam-primary-font-font-weight:400;
--vamtam-primary-font-font-size-phone:16px;
--vamtam-primary-font-line-height-desktop:1.4;
--vamtam-primary-font-line-height-tablet:1.4;
--vamtam-primary-font-line-height-phone:1.5;
--vamtam-h1-font-family:'Plus Jakarta Sans';
--vamtam-h1-font-weight:300;
--vamtam-h1-transform:none;
--vamtam-h1-font-size-tablet:46px;
--vamtam-h1-font-size-phone:36px;
--vamtam-h1-line-height-desktop:1.2;
--vamtam-h1-line-height-tablet:1;
--vamtam-h1-line-height-phone:1.2;
--vamtam-h2-font-family:'Plus Jakarta Sans';
--vamtam-h2-font-weight:normal;
--vamtam-h2-font-style:normal;
--vamtam-h2-transform:none;
--vamtam-h2-font-size-tablet:36px;
--vamtam-h2-font-size-phone:28px;
--vamtam-h2-line-height-desktop:1.3;
--vamtam-h2-line-height-tablet:1.1;
--vamtam-h2-line-height-phone:1.3;
--vamtam-h3-font-family:'Plus Jakarta Sans';
--vamtam-h3-font-weight:normal;
--vamtam-h3-transform:none;
--vamtam-h3-font-size-tablet:30px;
--vamtam-h3-font-size-phone:24px;
--vamtam-h3-line-height-desktop:1.3;
--vamtam-h3-line-height-tablet:1.2;
--vamtam-h3-line-height-phone:1.2;
--vamtam-h4-font-family:'Plus Jakarta Sans';
--vamtam-h4-font-weight:500;
--vamtam-h4-transform:none;
--vamtam-h4-font-size-phone:20px;
--vamtam-h4-line-height-desktop:1.4;
--vamtam-h4-line-height-tablet:1.4;
--vamtam-h4-line-height-phone:1.3;
--vamtam-h5-font-family:'Plus Jakarta Sans';
--vamtam-h5-font-weight:normal;
--vamtam-h5-font-size-tablet:20px;
--vamtam-h5-font-size-phone:18px;
--vamtam-h5-line-height-desktop:1.3;
--vamtam-h5-line-height-tablet:1.3;
--vamtam-h5-line-height-phone:1.3;
--vamtam-h5-letter-spacing-tablet:0px;
--vamtam-h5-letter-spacing-phone:0px;
--vamtam-h6-font-family:'Plus Jakarta Sans';
--vamtam-h6-font-weight:500;
--vamtam-h6-font-size-tablet:16px;
--vamtam-h6-font-size-phone:16px;
--vamtam-h6-line-height-desktop:1.2;
--vamtam-h6-line-height-tablet:1.2;
--vamtam-h6-line-height-phone:1.2;
--vamtam-icon-Search:'\e91b';
--vamtam-icon-minus:'\e919';
--vamtam-icon-plus:'\e91a';
--vamtam-icon-GettyImages-1207574548:'\e915';
--vamtam-icon-GettyImages-1444653136:'\e916';
--vamtam-icon-GettyImages-1456747446-1:'\e917';
--vamtam-icon-GettyImages-1456747446-2:'\e918';
--vamtam-icon-GettyImages-1456747446-3:'\e911';
--vamtam-icon-GettyImages-1456747446-4:'\e912';
--vamtam-icon-GettyImages-1456747446-5:'\e913';
--vamtam-icon-GettyImages-1456747446-6:'\e914';
--vamtam-icon-menu1:'\e90f';
--vamtam-icon-arrow:'\e910';
--vamtam-icon-play:'\e90e';
--vamtam-icon-arrow-link:'\e900';
--vamtam-icon-arrow-right-bottom:'\e901';
--vamtam-icon-arrow-left-bottom:'\e902';
--vamtam-icon-arrow-left-top:'\e903';
--vamtam-icon-arrow-right-top:'\e904';
--vamtam-icon-chevron-bottom:'\e905';
--vamtam-icon-chevron-top:'\e906';
--vamtam-icon-chevron-left:'\e907';
--vamtam-icon-chevron-right:'\e908';
--vamtam-icon-close:'\e909';
--vamtam-icon-drag:'\e90a';
--vamtam-icon-quote:'\e90b';
--vamtam-icon-menu:'\e90c';
--vamtam-icon-long-dash:'\e90d';
--vamtam-form_field_border_border:solid;
--vamtam-form_field_border_width:0px 0px 1px 0px;
--vamtam-form_field_border_radius:0px 0px 0px 0px;
--vamtam-form_field_padding:1.5emcustom 1emcustom 1emcustom 1emcustom;
--vamtam-form_label_typography_font_family:Plus Jakarta Sans;
--vamtam-form_label_typography_font_weight:400;
--vamtam-form_field_typography_font_family:Plus Jakarta Sans;
--vamtam-form_field_typography_font_size:clamp(16px, 0.8vw, 22px)custom;
--vamtam-form_field_typography_font_size_mobile:16px;
--vamtam-form_field_typography_font_weight:400;
--vamtam-form_field_typography_line_height:1.4em;
--vamtam-form_field_typography_line_height_mobile:1.5em;
--vamtam-form_field_focus_border_border:solid;
--vamtam-form_field_focus_border_color:#000000;
--vamtam-form_field_border_color:#00000026;
}