# WordPress Core
wp-admin/
wp-includes/
wp-*.php
index.php
xmlrpc.php
license.txt
readme.html

# Sensitive Configuration
wp-config.php

# WordPress uploads cache & elementor css cache
wp-content/uploads/elementor/css/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/

# Logs and OS files
*.log
.DS_Store
Thumbs.db
desktop.ini

# Environment / IDE
.vscode/
.idea/
